<template>
  <v-container>
    <v-row>
      <v-col
        v-for="(item) in items"
        :key="item.sku"
        cols="12"
        sm="4"
      >
        <v-card
          class="mx-auto"
          max-width="344"
          outlined
        >
          <v-card-title class="headline mb-1">{{ item.display_name }}</v-card-title>

          <v-card-actions>
            <v-btn color="primary" @click="addItemToCart(item)" text>Add to cart</v-btn>
            <v-spacer></v-spacer>
            <v-chip
              class="ma-2"
            >
              ${{ item.price }}
            </v-chip>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {

    };
  },

  computed: {
    items() {
      return this.$store.state.item.items;
    },
    cartItems() {
      return this.$store.state.cart.cartItems;
    },
  },

  methods: {
    addItemToCart(item) {
      const isInCart = this.cartItems.findIndex(cartItem => cartItem.sku === item.sku);
      const existingQuantity = isInCart < 0 ? 0 : this.cartItems[isInCart].quantity;
      // validate items quantity
      // ideally this value would be set up on a config file or constants file
      if (existingQuantity < 1000) {
        this.$store.dispatch('addToCart', item);
      } else {
        const notification = {
          text: 'The max allowed quantity is 1000 per item',
        };
        this.$store.dispatch('showNotification', notification);
      }
    },
  },
};
</script>
