<template>
  <v-container>
    <div v-if="cartItems.length">
      <v-simple-table>
        <thead>
          <tr>
            <th class="text-left">Sku</th>
            <th class="text-left">Item</th>
            <th class="text-left">Unit Price</th>
            <th class="text-left">Quantity</th>
            <th class="text-left">Price</th>
            <th class="text-left">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in cartItems" :key="item.sku">
            <td>{{ item.sku }}</td>
            <td>{{ item.display_name }}</td>
            <td>{{ item.price }}</td>
            <td>
              <v-btn @click="decreaseCartItemQuantity(item)" icon>
                <v-icon
                small
                >
                  mdi-minus
                </v-icon>
              </v-btn>
              {{ item.quantity }}
              <v-btn @click="incrementCartItemQuantity(item)" icon>
                <v-icon
                small
                >
                  mdi-plus
                </v-icon>
              </v-btn>
            </td>
            <td>{{ item.quantity * item.price }}</td>
            <td>
              <v-btn @click="removeItemFromCart(item)" icon>
                <v-icon
                small
                >
                  mdi-delete
                </v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"></td>
            <td><span class="font-weight-bold">Sub-total:</span></td>
            <td>${{ subTotal }}</td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td><span class="font-weight-bold">Discount:</span></td>
            <td>${{this.discountAmount}}</td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td><span class="font-weight-bold">TOTAL:</span></td>
            <td>${{ this.total}}</td>
          </tr>
        </tfoot>
      </v-simple-table>

      <v-row justify="end">
        <v-col
          cols="12"
          sm="3"
          align="right"
        >
          <v-btn @click="emptyCart" color="warning" text>Empty Cart</v-btn>
        </v-col>
        <v-col
          cols="12"
          sm="3"
          align="right"
        >
          <CouponCodeModal />
        </v-col>
      </v-row>
    </div>
    <div v-else>
      <v-banner single-line justify="center">
        Your shopping cart is empty!
        <template v-slot:actions>
          <v-btn
            text
            color="primary"
            to="/"
          >
            Back to Shopping
          </v-btn>
        </template>
      </v-banner>
    </div>
  </v-container>
</template>

<script>
import CouponCodeModal from '../components/partials/modal/CouponCodeModal.vue';

export default {
  components: {
    CouponCodeModal,
  },

  data() {
    return {
    };
  },

  computed: {
    cartItems() {
      return this.$store.state.cart.cartItems;
    },
    subTotal() {
      // calculates the sub-total (without applying discount)
      const reducer = (accum, current) => accum + (current.price * current.quantity);
      return this.$store.state.cart.cartItems.reduce(reducer, 0);
    },
    discountAmount() {
      // the amount to discount based on the type of discount code (% or fixed amount)
      const { discount } = this.$store.state.cart;
      const { subTotal } = this;

      if (discount.valid) {
        const discountAmount = discount.type === 'percentage' ? subTotal * discount.discount / 100 : discount.discount;
        return discountAmount;
      }

      return 0;
    },
    total() {
      return this.subTotal - this.discountAmount;
    },
  },

  methods: {
    incrementCartItemQuantity(item) {
      // validate items quantity
      // ideally this value would be set up on a config file or constants file
      if (item.quantity < 1000) {
        this.$store.dispatch('addToCart', item);
      } else {
        const notification = {
          text: 'The max allowed quantity is 1000 per item',
        };
        this.$store.dispatch('showNotification', notification);
      }
    },
    decreaseCartItemQuantity(item) {
      this.$store.dispatch('decreaseCartItemQuantity', item);
    },
    removeItemFromCart(item) {
      this.$store.dispatch('removeItemFromCart', item);
    },
    emptyCart() {
      this.$store.dispatch('emptyCart');
    },
  },
};
</script>
