<template>
  <v-snackbar
    v-model="snackbar"
    :timeout="timeout"
  >
    {{ text }}
  </v-snackbar>
</template>

<script>
export default {
  data() {
    return {

    };
  },
  computed: {
    // computed setter
    snackbar: {
      get() {
        return this.$store.state.notification.snackbar;
      },
      set() {
        this.$store.dispatch('hideNotification');
      },
    },
    text() {
      return this.$store.state.notification.text;
    },
    timeout() {
      return this.$store.state.notification.timeout;
    },
  },
};
</script>
