<template>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-toolbar-title>Shopping App</v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        to="/"
        text
      >
        <span class="mr-2">Items</span>
      </v-btn>

      <v-btn to="/shopping-cart" icon>
        <v-badge overlap color="secondary">
          <template v-slot:badge>{{ quantityInCart }}</template>
          <v-icon>mdi-cart</v-icon>
        </v-badge>
      </v-btn>

    </v-app-bar>
</template>

<script>
export default {
  data() {
    return {

    };
  },

  computed: {
    quantityInCart() {
      // calculates the total number of items in the cart
      const reducer = (accum, current) => accum + current.quantity;
      return this.$store.state.cart.cartItems.reduce(reducer, 0);
    },
  },
};
</script>
