<template>
  <v-dialog
    v-model="dialog"
    max-width="500px"
  >
    <template v-slot:activator="{ on }">
      <v-btn
        color="primary"
        text
        v-on="on"
        :disabled="couponApplied"
      >
        Apply Coupon Code
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        Add a coupon code
      </v-card-title>
      <v-card-subtitle>
        Hint: try BLACKFRIDAY or 50OFF ;)
      </v-card-subtitle>
      <v-card-text>
        <v-text-field v-model="couponCode"></v-text-field>
      </v-card-text>
      <v-card-actions align="right">
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          text
          @click="dialog = false">
            Cancel
        </v-btn>
        <v-btn
          color="primary"
          text
          @click="validateCouponCode(couponCode)"
        >
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      validCoupons: [
        {
          code: 'BLACKFRIDAY',
          type: 'amount',
          discount: 2,
        },
        {
          code: '50OFF',
          type: 'percentage',
          discount: 50,
        },
      ],
      couponCode: '',
      snackbar: false,
      text: '',
      timeout: 0,
    };
  },

  computed: {
    couponApplied() {
      // if there's a coupon applied, disable the "apply coupon" button
      return this.$store.state.cart.discount.valid;
    },
  },

  methods: {
    validateCouponCode(code) {
      // validating the provided coupon code exists in our "database"
      const isValid = this.validCoupons.findIndex(validCode => validCode.code === code);

      // if it's valid,update the store
      if (isValid >= 0) {
        this.$store.dispatch('applyValidDiscount', this.validCoupons[isValid]);
        const notification = {
          text: 'Successfully applied discount code',
        };
        this.dialog = false;
        this.$store.dispatch('showNotification', notification);
      // else, notify it's not a valid code
      } else {
        const notification = {
          text: 'Your coupon is invalid. Please try again',
        };
        this.$store.dispatch('showNotification', notification);
      }
    },
  },
};
</script>
