<template>
  <v-app>
    <AppBar />
    <v-content>
      <RouterView />
      <Notification />
    </v-content>
  </v-app>
</template>

<script>
import AppBar from './components/partials/layout/AppBar.vue';
import Notification from './components/partials/Notification.vue';

export default {
  components: {
    AppBar,
    Notification,
  },
};
</script>
